.black {
  color: black;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #008CBA;*/
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-top {
  // transition: all 1s ease;
  -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px);
}

.cardi:hover > *:not(.card-img-overlay) {
  transition: all 1s ease;
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
}

@media screen and (min-width: 700px) {
  .flex-container {
    display: grid;
    grid-template-columns: repeat(5,20%);
  }
}

@media screen and (max-width: 699px) {
  .flex-container {
    display: grid;
    grid-template-columns: 100%;
  }
}
