<section class="page-section text-center" id="skills">
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>

  <!-- Icon Divider -->
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="row mx-auto text-uppercase">
    <div class="col-md-3 col-lg-3">
      <h3>Backend</h3>
        <ul>
          <li class="list-unstyled" *ngFor="let skill of skills['backend']"><span class="mt-5">{{skill}}</span></li>
        </ul>
    </div>
    <div class="col-md-3 col-lg-3">
      <h3>Frontend</h3>
      <ul>
        <li class="list-unstyled" *ngFor="let skill of skills['frontend']"><span class="mt-5">{{skill}}</span></li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-3">
      <h3>BDD</h3>
      <ul>
        <li class="list-unstyled " *ngFor="let skill of skills['bdd']"><span class="mt-5">{{skill}}</span></li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-3">
      <h3>Autres</h3>
      <ul>
        <li class="list-unstyled " *ngFor="let skill of skills['others']"><span class="mt-5">{{skill}}</span></li>
      </ul>
    </div>
  </div>
</section>
