<section class="page-section text-center" id="contact">
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact me</h2>

  <!-- Icon Divider -->
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="row text-center">
    <div class="col">
    <a href="mailto:florian69780@hotmail.fr"> <fa-icon [icon]="faEnvelope"></fa-icon> florian69780@hotmail.fr</a>
    </div>
  </div>
</section>
