<!-- Portfolio Section -->
<section class="page-section portfolio" id="projects">
  <div class="container-fluid">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{'projects.titleSection' | translate}}</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!--  Projects are inversed (left || right) -->
      <div class="row" [ngClass]="(i % 2 == 0) ? 'flex-row' : 'flex-row-reverse'" *ngFor="let project of projects; let i = index">
        <div class="col-6 px-0 img-container">
          <a [href]="project.img" class="magnific-image">
            <img class="h-30 mx-auto card-img-top card-img-top-a " src="{{ project.img }}" alt="img{{ project.title }}">
            <div class="overlay mx-auto">
              <fa-icon class="fa fa-play-circle-o fa-4x fa-3x" [icon]="faPlus" ></fa-icon>
            </div>
          </a>


        </div>
        <div class="col-6 text-center px-0">
          <h3 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{project.title}}</h3>
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <fa-icon [icon]="faStar"></fa-icon>
            </div>
            <div class="divider-custom-line"></div>
          </div>

          <a *ngIf="project.url !== ''" target="_blank" [href]="project.url">{{project.url}}</a>
          <div class="row">
            <div class="col-12">
              <span class="ml-3 list-inline font-italic" *ngFor="let tech of project.technos">{{tech}}</span>
            </div>
          </div>
          <p class="mb-5">{{'projects.' + project.title | translate}}</p>
        </div>

    </div>
    <!-- /.row -->

  </div>
</section>
