<section class="page-section text-center" id="interests">
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{'nav.interests' | translate}}</h2>

  <!-- Icon Divider -->
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="row mx-auto">
    <div class="col">
      <p>{{'interests.veilleTech' | translate}}</p>
      <p>{{'interests.videoGame' | translate}}</p>
      <p>Tennis</p>
    </div>


  </div>
</section>
