// Import variables (overrides Bootstrap defaults)
@import "assets/scss/base/variables.scss";

@import '../node_modules/bootstrap/scss/bootstrap';
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

// Import base styles
@import "assets/scss/base/page.scss";

// Import components styles
@import "assets/scss/components/divider.scss";
@import "assets/scss/components/buttons.scss";

// Import layout styles
@import "assets/scss/layout/navbar.scss";
@import "assets/scss/layout/masthead.scss";
@import "assets/scss/layout/portfolio.scss";
@import "assets/scss/layout/contact.scss";
@import "assets/scss/layout/footer.scss";

// darkmode btn fix z-index
.darkmode-toggle {
  z-index: 100;
}
// fix horizotally scroll bar which is needless
body {
  overflow-x: hidden;
}

.bg-primary {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("assets/img/header.png");
  background-position: center;
  background-size: cover;

  h1 {
    //color: black;
  }
}

