// Import variables (overrides Bootstrap defaults)
@import "assets/scss/base/variables.scss";

@import '../node_modules/bootstrap/scss/bootstrap';

// Import base styles
@import "assets/scss/base/page.scss";

// Import components styles
@import "assets/scss/components/divider.scss";
@import "assets/scss/components/buttons.scss";

// Import layout styles
@import "assets/scss/layout/navbar.scss";
@import "assets/scss/layout/masthead.scss";
@import "assets/scss/layout/portfolio.scss";
@import "assets/scss/layout/contact.scss";
@import "assets/scss/layout/footer.scss";
